extends ../layout/index 
block content 
    h1 Nuevo Libro 
    div(style="display: flex;  justify-content: space-around; padding: 10px; border: 1px solid #ccc;")
        div(style="padding: 10px;")
            form(action="/books/saveBooks" method="POST" )
                input(type="text" name="book" style="margin-right: 15px")
                button(type='submit' class='btn btn-primary') Buscar Libro
            div(style="display:flex;flex-direction:column;") 
                each miLibro in ListaLibros
                    strong= miLibro.volumeInfo.title 
                    form(action="/books/deleteButton" method="POST")
                        if miLibro.volumeInfo.imageLinks
                            img(src=miLibro.volumeInfo.imageLinks.thumbnail, alt=miLibro.volumeInfo.title  style="max-height: 250px; max-with: 50px;")
                        input(type="hidden" name="nombreLibro" value=miLibro.id)
                        button(type="submit" class="btn btn-danger") Eliminar
        div(style="padding: 10px;max-width: 50%;")
            h2 Mi nueva Historia
            form(action="/books/newBook" method="POST")
                input(type="hidden" name="Creacion" value="1")
                button(type="submit" class="btn btn-success") Crear Historia
            
            form(action="/books/borrarHistoria" method="POST")
                input(type="hidden" name="valorP" value="")
                button(type="submit" class="btn btn-danger") Borrar Historia
            p=respuesta